
body {
  background-color: #FF4141	;
  margin:0px;
  padding:0px;
  display:flex;
  width:100%;
  height:900px;
  
}

#root{
  margin:150px auto;
}
.todo-app{
  margin:auto;
}

.todo-app form input{
  font-size:30px;
  border-radius:15px;
  border:0px;
  padding:8px;
}

.todo-app form button{
  font-size:25px;
  padding:8px;
  border-radius:15px;
  border:0px;
  margin:0px 8px;
  color:white;
  background-color:rgb(24, 92, 24);
}

.todo-app form #delete{
  background-color: rgb(158, 28, 28);
}

.todo-app  ul{
  list-style:none;
  padding:0px;
}

.todo-app  ul .todo-list{
  background-color:rgb(8, 58, 105);
  border-radius:15px;
  display:flex;
  padding:15px;
  font-family: 'Overpass' ;
  margin:8px 0px;
}


.todo-app  ul .todo-list input{
  margin:0px 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}